<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/recieveFile.css">
  <title>Recieve image</title>
</head>
<body>
  <h1 class="word">This is your photo.</h1>
  <img class="image" src="<%= imagePath %> " alt="<%= imageName %> ">
</body>
</html>